
.details-page {
    
    max-width: 390px; 
    margin: 0 auto; 
    width: 100%;
    min-height: 100vh; 
    color: white; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.registration-header {
  width: 100%;
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
  180deg,
  #29154c 100%
);


  position: relative;
  z-index: 20;
}
  
/* LEFT */
.header-left {
  display: flex;
  align-items: center;
}

.cadbury-logo {
  height: 30px;
  width: auto;
}

/* CENTER */
.header-center {
  position: absolute;
   left: 35%;
    transform: scale(2); 
}

.birthday-logo {
  height: 36px;
  width: auto;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.progress-section {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.progress-bar-image {
    width: 80%; 
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Main Form Area */
.details-form-container {
    padding: 0 25px; 
    text-align: center;
}

.details-title {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}


.visuals-section {
  position: relative;
  padding: 5px 0 5px;
  display: flex;
  justify-content: center;
}

.visual-present {
    width: 250px; 
    height: auto;
}
.floating-balloon1 {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: auto;
}
.floating-glitter1 {
  position: absolute;
  left: -10px;
  top: 50%;
  width: 60px;
  height: auto;
}


.input-field-group {
    margin-bottom: 25px;
    text-align: center;
}

.input-label {
    font-size: 1.1em;
    color: white; 
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    display: block; 
}

.custom-select-wrapper {
  position: relative;
  width: 100%;
}


.styled-input, .styled-select {
    width: 100%; 
    padding: 16px 20px;
    border: none;
    border-radius: 45px; 
    font-size: 1.1em;
    box-sizing: border-box;
    background-color: white;
    color: #29154c; 
}
.styled-select {
  width: 100%;
  padding: 16px 48px 16px 20px; 
  border: none;
  border-radius: 45px;
  font-size: 1.1em;
  background-color: white;
  color: #29154c;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}


.custom-select-wrapper::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #29154c; 
  pointer-events: none;
}

.button-wrapper-two {
  margin-top: 8px;
 width: 100vw; 
  margin-left: calc(-50vw + 50%);
  display: flex;
  justify-content: center;
}
.proceed-button {
  all: unset; 
  display: inline-block;
  width: 160px;
  text-align: center;
  padding: 15px 0 !important;
  background-color: #faab35 !important;
  color: #29154c !important;
  border-radius: 40px ;
  font-size: 1em !important;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.proceed-button:hover {
  background-color: #e68900 !important;
  transform: scale(0.97);
}
.floating-music-note1 {
  position: absolute;
  left: calc(50% - 150px); 
  width: 36px;
  height: auto;
}


