
.final-screen { 
   
    max-width: 390px; 
    margin: 0 auto; 
    width: 100%;
    min-height: 100vh; 
    padding-bottom: 40px; 
    color: white;
    
    
    background-image: url('../assets/BG.jpg'); 
    background-color: #5F3796;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.registration-header {
  width: 100%;
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
   background: linear-gradient(
    #29154c 100%
  );

  position: relative;
  z-index: 20;
}
  
/* LEFT */
.header-left {
  display: flex;
  align-items: center;
}

.cadbury-logo {
  height: 30px;
  width: auto;
}

/* CENTER */
.header-center {
  position: absolute;
   left: 35%;
    transform: scale(2); 
}

.birthday-logo {
  height: 36px;
  width: auto;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.progress-title-section {
    width: 100%;
    padding: 10px 20px 0; 
    text-align: center;
}

.progress-bar-image {
    width: 80%; 
    max-width: 350px;
    margin-bottom: 5px;
}

.lyrics-ready-title {
    color: white;
    font-size: 1em;
    margin-top: 5px; 
    margin-bottom: 20px; 
    font-weight: 700;
}

.final-content-wrapper { 
    padding: 0 25px; 
    text-align: center;
}

.loading-text {
    font-size: 1.1em;
    color: #e68900;
    margin-top: 40px;
}


.lyrics-box-wrapper {
    background-color: white;
    border: none;
    border-radius: 35px; 
    padding: 30px 20px;
    margin-bottom: 40px;
    max-height: 400px;
    overflow-y: auto;
    text-align: left;
    color: #29154c;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%; 
    box-sizing: border-box; 
}

.lyrics-text {
    white-space: pre-wrap;
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6;
    margin: 0;
}

.lyrics-box-wrapper {
  background-color: white;
  border-radius: 35px;
  padding: 24px 20px;
  color: #29154c;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.lyrics-scroll-area {
  max-height: 320px;   
  overflow-y: auto;
  padding-right: 14px;  
  scrollbar-width: thin;
  scrollbar-color: #e68900 transparent;
}

.final-button-group {
    display: flex;
    justify-content: center; 
    padding: 0; 
    width: 100%;
}


.final-button-group .play-song-button {
    width: 100%; 
    font-size: 1.4em; 
    padding: 18px 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #e68900;
    color: white;
}
.final-button-group .play-song-button:disabled {
    opacity: 0.8;
    background-color: #e68900;
    color: white;
    cursor: not-allowed;
}

