/* Register.css */

:root {
    --cadbury-purple: #29154c; 
  }
  
  
  .registration-page {
    max-width: 390px; 
    margin: 0 auto; 
    min-height: 100vh;
    padding: 0;
    color: white; 
    font-family: sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
  }

  .registration-content-wrapper {
    width: 100%;
    transition: filter 0.3s ease-in-out;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
  }
  
  .registration-content-wrapper.blurred-background {
      filter: blur(5px);
      pointer-events: none; 
  }

  
  .registration-header {
  width: 100%;
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
   background: linear-gradient(
    #29154c 100%
  );

  position: relative;
  z-index: 20;
}
  
/* LEFT */
.header-left {
  display: flex;
  align-items: center;
}

.cadbury-logo {
  height: 30px;
  width: auto;
}

/* CENTER */
.header-center {
  position: absolute;
   left: 35%;
    transform: scale(2); 
}

.birthday-logo {
  height: 36px;
  width: auto;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
 
  /* Carousel Dots and Visuals */
  .image-carousel {
    width: 100%;
    text-align: center;
    padding-top: 15px; 
     position: relative;
  }
  
  .progress-bar-image {
    width: 220px; 
    height: auto;
    margin: 0 auto 5px auto; 
  
  }
  
  .celebration-visual {
    height: 300px; 
    width: 100%;
    margin: 0 auto;
  }
  
  .main-box-image {
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    max-height: 100%; 
    object-fit: contain;
  }
  
  /* Form Container Styling */
  .registration-form-container {
    width: 100%;
    padding: 0 20px; 
    box-sizing: border-box;
    margin-top: -80px;
    
  }
  
  .register-title {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  .input-group {
    margin-bottom: 20px; 
  }
  
  .styled-input {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 10px; 
    font-size: 16px;
    color: #333; 
    box-sizing: border-box;
    background-color: white; 
  }
  
  .checkbox-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    font-size: 0.85em;
    line-height: 1.3;
  }
  
  .checkbox-group input[type="radio"] {
    appearance: none; 
    min-width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    top: 2px;
  }
  
  .checkbox-group input[type="radio"]:checked {
    border-color: #29154c; 
    background-color: white;
  }
  
  .checkbox-group input[type="radio"]:checked::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #29154c; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .checkbox-group label {
    cursor: pointer;
  }
  
  .button-wrapper {
    width: 100vw; 
  margin-left: calc(-50vw + 50%);
    display: flex;
    justify-content: center;
  }
  /* Submit Button Styling */
  .submit-button {
    width: 50%;
    padding: 10px;
    background-color: #faab35; 
    color:var(--cadbury-purple); 
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px; 
    margin-bottom: 20px; 
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #e68900;
  }

  .error-text {
  color: #ffcccc;
  font-size: 12px;
  margin-top: 6px;
  margin-left: 4px;
}
